body {
  background-color: #006400;
  color: white;
  font-family: Arial;
  font-weight: 300;
}

#title {
  text-align: center;
}

.game-container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.button {
  width: 100px;
  height: 40px;
  outline: none;
  color: black;
  border: none;
  background-color: white;
  border-radius: 5px;
}

.red-button {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.stand-button-disabled {
  background-color: rgb(234, 113, 113);
  color: white;
}

.hit-button-disabled {
  background-color: rgb(234, 113, 113);
  color: white;
}

.stand-button-disabled:hover {
  cursor: not-allowed;
  background-color: rgb(234, 113, 113);
}

.hit-button-disabled:hover {
  cursor: not-allowed;
  background-color: rgb(234, 113, 113);
}

.button:hover {
  cursor: pointer;
  background-color: #E8E8E8;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}
img {
  width: 100px;
  height: 140px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}


.game-info-container {
  margin-top: 20px;
}

.info-text{
  margin: 0;
}

